@charset "UTF-8";
/*
* @Author: Administrator
* @Date:   2016-09-28 18:20:18
* @Last Modified by:   Administrator
* @Last Modified time: 2016-10-10 18:26:06
*/
/*main*/
.main .main-content {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
  margin-top: 25px;
  background-position: center center;
  background-color: #fff;
}
.main .main-content .first-screen {
  width: 1200px;
  height: 460px;
}
.main .main-content .left-nav {
  width: 150px;
  height: 460px;
  margin-right: 20px;
  position: relative;
  float: left;
  z-index: 300;
}
.main .main-content .left-nav .nav-title {
  font-size: 16px;
  font-family: 'Microsoft Yahei';
  font-weight: 900;
  margin-bottom: 5px;
}
.main .main-content .left-nav .nav-links {
  height: 65px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 15px;
  margin-bottom: 14px;
  overflow: hidden;
  line-height: 1.8;
}
.main .main-content .left-nav .nav-links a {
  float: left;
  margin-right: 20px;
  white-space: nowrap;
  width: 4em;
  text-decoration: none;
  color: #666;
}
.main .main-content .left-nav .nav-links a:hover {
  color: #e44715;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .mod-arrow {
  border: 5px solid #e44715;
  border-left: 5px solid #fff;
  float: right;
  margin-top: 12px;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .mod-links {
  background: url(../images/menuHoverImg.png) no-repeat;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .list11 {
  background-position: 0 -3px;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .list12 {
  background-position: 0 -97px;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .list13 {
  background-position: 0 -192px;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .list14 {
  background-position: 0 -226px;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .list15 {
  background-position: 0 -289px;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .list16 {
  background-position: 0 -161px;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .list17 {
  background-position: 0 -386px;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .list18 {
  background-position: 0 -321px;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .list19 {
  background-position: 0 -129px;
}
.main .main-content .left-nav .nav-menu-links .nav-mod:hover {
  background-color: #e44715;
}
.main .main-content .left-nav .nav-menu-links .mod-left {
  padding-top: 3px;
  font-size: 14px;
}
.main .main-content .left-nav .nav-menu-links .mod-left a {
  line-height: 31px;
  height: 31px;
  display: block;
  padding-left: 40px;
  color: #666;
  text-decoration: none;
}
.main .main-content .left-nav .nav-menu-links .mod-left a:hover {
  color: #fff;
}
.main .main-content .left-nav .nav-menu-links .mod-left .mod-links {
  background: url(../images/menuImg.png) no-repeat;
}
.main .main-content .left-nav .nav-menu-links .mod-left .list11 {
  background-position: 0 -3px;
}
.main .main-content .left-nav .nav-menu-links .mod-left .list12 {
  background-position: 0 -97px;
}
.main .main-content .left-nav .nav-menu-links .mod-left .list13 {
  background-position: 0 -192px;
}
.main .main-content .left-nav .nav-menu-links .mod-left .list14 {
  background-position: 0 -226px;
}
.main .main-content .left-nav .nav-menu-links .mod-left .list15 {
  background-position: 0 -289px;
}
.main .main-content .left-nav .nav-menu-links .mod-left .list16 {
  background-position: 0 -161px;
}
.main .main-content .left-nav .nav-menu-links .mod-left .list17 {
  background-position: 0 -386px;
}
.main .main-content .left-nav .nav-menu-links .mod-left .list18 {
  background-position: 0 -321px;
}
.main .main-content .left-nav .nav-menu-links .mod-left .list19 {
  background-position: 0 -129px;
}
.main .main-content .left-nav .nav-menu-links .mod-rigth {
  display: none;
  position: absolute;
  height: 418px;
  width: 122px;
  left: 150px;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px 0;
  padding-right: 40px;
  border: 1px solid #ededed;
  z-index: 20;
}
.main .main-content .left-nav .nav-menu-links .mod-rigth .vm-cont {
  width: 120px;
  height: 460px;
  float: left;
  display: inline;
  padding-left: 20px;
}
.main .main-content .left-nav .nav-menu-links .mod-rigth .vm-cont a {
  line-height: 21px;
  display: block;
  padding-left: 10px;
  margin-bottom: 15px;
  color: #666;
  text-decoration: none;
}
.main .main-content .left-nav .nav-menu-links .mod-rigth .vm-cont a:hover {
  color: #fff;
  background-color: #999;
}
.main .main-content .auto-content {
  height: 460px;
  width: 820px;
  float: left;
  position: relative;
  display: inline;
}
.main .main-content .auto-content .banner-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
}
.main .main-content .auto-content .banner-wrapper .img-box {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
}
.main .main-content .auto-content .banner-wrapper .img-box img {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.main .main-content .auto-content .banner-wrapper .img-box img.first {
  display: block;
}
.main .main-content .auto-content .banner-wrapper .circle {
  position: absolute;
  z-index: 100;
  bottom: 8px;
  text-align: center;
  left: 50%;
  margin-left: -58px;
}
.main .main-content .auto-content .banner-wrapper .circle li {
  display: inline-block;
}
.main .main-content .auto-content .banner-wrapper .circle li a {
  width: 12px;
  height: 12px;
  background: rgba(102, 102, 102, 0.8);
  float: left;
  border-radius: 50%;
  margin: 0 6px;
}
.main .main-content .auto-content .banner-wrapper .circle li a:hover {
  background-color: #f4604b;
}
.main .main-content .auto-content .banner-wrapper .circle li .active {
  background-color: #f4604b;
}
.main .main-content .auto-content .banner-wrapper .arrow-box a {
  width: 73px;
  height: 65px;
  text-decoration: none;
  display: block;
  margin: -25px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  display: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  background: url(../images/cut_arrows.png) no-repeat;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.main .main-content .auto-content .banner-wrapper .arrow-box .left-arrow {
  left: 55%;
  margin-left: -400px;
  background-position: 0 0;
}
.main .main-content .auto-content .banner-wrapper .arrow-box .right-arrow {
  left: 85%;
  background-position: 0 -68px;
}
.main .main-content .nav-right {
  width: 190px;
  float: left;
  display: inline;
  margin-left: 20px;
}
.main .main-content .nav-right .mod-above {
  margin-bottom: 16px;
}
.main .main-content .nav-right .mod-below img {
  vertical-align: top;
  border: 0;
}
.main .main-content .qixi {
  clear: both;
  margin: 8px auto;
  margin-top: 40px;
  margin-bottom: 10px;
  position: relative;
}
.main .main-content .qixi .head {
  font-size: 12px;
  font-family: 'Microsoft Yahei';
  color: #999;
  padding-bottom: 15px;
}
.main .main-content .qixi .head .head-title {
  font-family: 'Microsoft Yahei';
  font-weight: bold;
  font-size: 20px;
  color: #333;
  margin-right: 15px;
  position: relative;
  bottom: 2px;
}
.main .main-content .qixi .qixiCon {
  width: 1200px;
  position: relative;
}
.main .main-content .qixi .qixiCon ul {
  width: 1220px;
  position: relative;
}
.main .main-content .qixi .qixiCon ul .reason {
  display: block;
  width: 100%;
  color: #666;
  font-size: 18px;
  line-height: 19px;
  height: 19px;
  padding: 10px 0 5px 0;
}
.main .main-content .qixi .qixiCon ul .reason div {
  float: right;
  font-size: 12px;
}
.main .main-content .qixi .qixiCon ul .text a {
  font-size: 14px;
  font-family: 'Microsoft Yahei';
}
.main .main-content .qixi .qixiCon ul .text a:hover {
  color: #f4604b;
}
.main .main-content .qixi .qixiCon li {
  width: 285px;
  height: 338px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.main .main-content .qixi .qixiCon li a {
  text-decoration: none;
  color: #666;
}
.main .main-content .qixi .qixiCon li a img {
  width: 288px;
  height: 280px;
}
.main .main-content .qixi .bannerbg {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.main .main-content .qixi .bannerbg .b-left {
  float: left;
}
.main .main-content .qixi .bannerbg .b-right {
  float: right;
}
.main .fixedbox {
  margin: 20px 0 0;
  height: 46px;
}
.main .fixedbox .floor-tab {
  z-index: 1000;
  height: 46px;
  background-color: #fff;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}
.main .fixedbox .floor-tab .container {
  width: 1200px;
  margin: 0 auto;
}
.main .fixedbox .floor-tab .container ul li.current {
  background-color: #e44715;
  color: #fff;
}
.main .fixedbox .floor-tab .container ul li {
  width: 128px;
  height: 46px;
  text-align: center;
  float: left;
  margin-right: 2px;
  font: 14px/46px "瀹嬩綋";
  font-weight: bold;
  color: #666;
  cursor: pointer;
}
.main .fixedbox .floor-tab .container ul li:hover {
  background-color: #e44715;
  color: #fff;
}
.main .fixedbox .floor-bd {
  position: fixed;
  top: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.main .floor-main {
  background-color: #f5f5f5;
  padding-top: 20px;
}
.main .floor-main .container {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}
.main .floor-main .container .floor-box {
  position: relative;
}
.main .floor-main .container .floor-box .floor-name {
  color: #121212;
  padding: 15px 0 25px;
  font-family: 'Microsoft Yahei';
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
}
.main .floor-main .container .floor-box .floorCon {
  position: relative;
}
.main .floor-main .container .floor-box .floorCon ul {
  width: 1230px;
  padding-bottom: 4px;
}
.main .floor-main .container .floor-box .floorCon ul .first {
  width: 586px;
  height: 369px;
}
.main .floor-main .container .floor-box .floorCon ul li {
  position: relative;
  float: left;
  margin: 0 26px 26px 0;
  z-index: 10;
  background-color: #fff;
}
.main .floor-main .container .floor-box .floorCon ul li:hover {
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.main .floor-main .container .floor-box .floorCon ul .newlogo {
  position: absolute;
  margin-left: 15px;
}
.main .floor-main .container .floor-box .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.main .floor-main .container .floor-box .imgBox {
  width: 280px;
  height: 280px;
  margin-bottom: 22px;
}
.main .floor-main .container .floor-box .imgBox img {
  width: 280px;
  width: 280px;
  display: inline;
}
.main .floor-main .container .floor-box .price {
  width: 246px;
  margin: 0 auto;
}
.main .floor-main .container .floor-box .price a {
  color: #999;
  margin-top: 6px;
  font-family: "瀹嬩綋";
  float: right;
  text-decoration: none;
}
.main .floor-main .container .floor-box .price a:hover {
  color: #e44715;
}
.main .floor-main .container .floor-box .price .gif-price {
  font-family: "Microsoft YaHei";
  color: #666;
  font-size: 18px;
}
.main .floor-main .container .floor-box .price .gif-price em {
  font-size: 12px;
}
.main .floor-main .container .floor-box .gift-show {
  width: 246px;
  line-height: 22px;
  height: 22px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "瀹嬩綋";
  margin: 2px auto 16px;
}
.main .floor-main .giftClassify {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 26px 0;
  margin-bottom: 20px;
  border: 1px solid #ebebeb;
}
.main .floor-main .giftClassify .gift-hobby {
  width: 300px;
  height: 450px;
  border-right: 1px solid #ccc;
  float: left;
  padding-left: 20px;
}
.main .floor-main .giftClassify .gift-hobby .gift-title {
  font-size: 20px;
  font-family: 'Microsoft Yahei';
  padding: 20px 0 0;
  font-weight: 900;
}
.main .floor-main .giftClassify .gift-hobby .gift-con {
  padding: 12px 0;
}
.main .floor-main .giftClassify .gift-hobby .gift-con .gift-tip {
  font-size: 14px;
}
.main .floor-main .giftClassify .gift-hobby .gift-con .gift-tip a {
  color: #000;
  line-height: 1.8;
  white-space: nowrap;
  text-decoration: none;
}
.main .floor-main .giftClassify .gift-hobby .gift-con .gift-tip a:hover {
  color: #e44715;
}
.main .floor-main .giftClassify a {
  text-decoration: none;
  color: #999;
  line-height: 1.8;
  white-space: nowrap;
  padding-right: 10px;
}
.main .floor-main .giftClassify a:hover {
  color: #e44715;
}
.main .floor-main .giftClassify .gift-class {
  width: 860px;
  float: left;
  padding-left: 10px;
}
.main .floor-main .giftClassify .gift-class .gift-title {
  font-size: 20px;
  font-family: 'Microsoft Yahei';
  padding: 20px 0 0;
  font-weight: 900;
}
.main .floor-main .giftClassify .gift-class .gift-class-box {
  width: 860px;
  float: left;
  display: inline;
  margin-left: 15px;
  line-height: 1.8;
}
.main .floor-main .giftClassify .gift-class .gift-class-box .gift-con {
  padding: 12px 0;
  float: left;
  width: 270px;
  height: 85px;
}
.main .floor-main .giftClassify .gift-class .gift-class-box .gift-con .gift-tip {
  font-size: 14px;
}
.main .floor-main .giftClassify .gift-class .gift-class-box .gift-con .gift-tip a {
  color: #000;
  line-height: 1.8;
  white-space: nowrap;
  text-decoration: none;
}
.main .floor-main .giftClassify .gift-class .gift-class-box .gift-con .gift-tip a:hover {
  color: #e44715;
}
.main .floor-main .clearfix::after {
  content: '.';
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 1263px;
  height: 7937px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: none;
}
.cover .login-box {
  width: 900px;
  height: 600px;
  background-color: #fff;
  position: absolute;
  right: -900px;
  top: 40px;
  z-index: 1011;
}
.cover .login-box .close-btn {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #c33;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
}
.cover .login-box .close-btn a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}
.cover .login-box .quick-login {
  width: 600px;
  padding: 50px;
  margin: 0 auto;
  overflow: hidden;
  height: 400px;
  font-family: 'Microsoft Yahei';
}
.cover .login-box .quick-login .login-left {
  float: left;
  display: inline;
  overflow: hidden;
  width: 195px;
  line-height: 1.5;
  padding-top: 30px;
}
.cover .login-box .quick-login .login-left .t-box {
  margin-bottom: 20px;
}
.cover .login-box .quick-login .login-left .t-box .title {
  font-size: 18px;
  color: #333;
}
.cover .login-box .quick-login .login-left .t-box .cont {
  font-size: 14px;
  color: #999;
}
.cover .login-box .quick-login .login-left dd {
  float: left;
  display: inline;
  margin-right: 17px;
}
.cover .login-box .quick-login .login-left dd a {
  background: url(../images/login.png) no-repeat;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 44px;
  height: 25px;
  display: block;
  padding-top: 44px;
  color: #333;
  text-align: center;
  line-height: 25px;
}
.cover .login-box .quick-login .login-left dd a:hover {
  color: #e44715;
}
.cover .login-box .quick-login .login-left dd .qq {
  background-position: 0 -68px;
}
.cover .login-box .quick-login .login-left dd .alipay {
  background-position: 0 -137px;
}
.cover .login-box .quick-login .login-right {
  width: 320px;
  float: left;
  padding-left: 25px;
  height: 278px;
  border-left: 1px solid #cecece;
  padding-top: 30px;
}
.cover .login-box .quick-login .login-right .login-input {
  width: 295px;
}
.cover .login-box .quick-login .login-right .login-input .userlogin {
  font-size: 18px;
  line-height: 20px;
  height: 20px;
  margin: 8px 0 30px 0;
  text-shadow: 1px 1px 0 #FFF;
}
.cover .login-box .quick-login .login-right .login-input input {
  border: 0;
  border: 1px solid #D8D8D8;
  border-radius: 2px;
  padding: 1px 1px 1px 32px !important;
  background: url(../images/login.png) no-repeat;
  line-height: 32px;
  outline: none;
}
.cover .login-box .quick-login .login-right .login-input p {
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  color: #e44715;
  text-align: right;
}
.cover .login-box .quick-login .login-right .login-input .text {
  background-position: 7px -203px;
}
.cover .login-box .quick-login .login-right .login-input .psd {
  background-position: 7px -238px;
}
.cover .login-box .quick-login .login-right .enter-up {
  height: 16px;
  line-height: 16px;
  margin: 10px 0;
}
.cover .login-box .quick-login .login-right .enter-up .autologin {
  cursor: pointer;
  padding-left: 20px;
  background: url(../images/login.png) no-repeat 0 -354px;
  color: #999;
}
.cover .login-box .quick-login .login-right .enter-up .f1 {
  float: left;
}
.cover .login-box .quick-login .login-right .enter-up .kd-xieyi {
  color: #666;
}
.cover .login-box .quick-login .login-right .enter-up .kd-xieyi:hover {
  color: #E34B35;
}
.cover .login-box .quick-login .login-right .enter-up .doauto {
  padding-left: 20px;
  background-position: 0 -390px;
}
.cover .login-box .quick-login .login-right .enter {
  width: 100%;
  margin: 5px auto 10px;
  overflow: hidden;
}
.cover .login-box .quick-login .login-right .enter .submit-btn {
  width: 320px;
  font-size: 18px;
  color: #fff;
  height: 45px;
  background-color: #F4604B;
  border: 1px solid #F4604B;
  font-family: 'Microsoft Yahei';
  font-weight: bold;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
}
.cover .login-box .quick-login .login-right .enter .submit-btn:hover {
  background-color: #E34B35;
}
.cover .login-box .quick-login .login-right .enter .submit-reg {
  width: 320px;
  font-size: 18px;
  color: #fff;
  height: 45px;
  background-color: #F4604B;
  border: 1px solid #F4604B;
  font-family: 'Microsoft Yahei';
  font-weight: bold;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
}
.cover .login-box .quick-login .login-right .enter .submit-reg:hover {
  background-color: #E34B35;
}
.cover .login-box .quick-login .login-right .forgot-psd {
  font-size: 14px;
}
.cover .login-box .quick-login .login-right .forgot-psd .forgot-it {
  float: right;
}
.cover .login-box .quick-login .login-right .forgot-psd a {
  color: #666;
}
.cover .login-box .quick-login .login-right .forgot-psd a:hover {
  color: #E34B35;
}

/*# sourceMappingURL=index.css.map */
