@charset "UTF-8";
/*
* @Author: Administrator
* @Date:   2016-09-28 18:20:18
* @Last Modified by:   Administrator
* @Last Modified time: 2016-10-08 20:26:16
*/
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5B8B\4F53',sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

address, cite, dfn, em, var {
  font-style: normal;
}

code, kbd, pre, samp {
  font-family: courier new,courier,monospace;
}

small {
  font-size: 12px;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  width: 1280px;
}

.dropdown-pic {
  -webkit-transition: 0.4s;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
}

.dropdown-pic1 {
  -webkit-transition: 0.4s;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
  transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
}

.fontColor {
  color: #f4604b;
}

.allContent {
  width: 1200px;
  margin: 0 auto;
}

.header {
  width: 1280px;
  height: 124px;
  border-bottom: 1px solid #ededed;
}
.header .container {
  height: 26px;
}
.header .container .kd-logo {
  position: absolute;
  top: 0;
}
.header .container .kd-logo a {
  float: left;
  height: 170px;
  width: 150px;
  background: url(../images/kadang.png) no-repeat;
  background-size: cover;
  overflow: hidden;
}
.header .container .kd-logo a:hover {
  background-position: 0 -160px;
}
.header .container .top-intro {
  height: 24px;
  border-bottom: 1px solid #ededed;
}
.header .container .top-intro .kd-welcome {
  float: left;
  width: 188px;
  height: 24px;
  line-height: 24px;
  margin-left: 162px;
  color: #999;
}
.header .container .top-intro .kd-welcome a {
  color: #999;
  margin: 0 6px;
}
.header .container .top-intro .kd-welcome a:hover {
  color: #f4604b;
  text-decoration: none;
}
.header .container .top-intro .introMenu {
  height: 24px;
  width: 465px;
  float: right;
}
.header .container .top-intro .introMenu .topMenu {
  height: 24px;
  width: 465px;
}
.header .container .top-intro .introMenu .topMenu .menu {
  float: left;
  color: #999;
  line-height: 24px;
  position: relative;
}
.header .container .top-intro .introMenu .topMenu .menu a {
  float: left;
  padding: 0 8px;
  position: relative;
  height: 24px;
  line-height: 24px;
  color: #999;
  border-style: solid;
  border-width: 0 1px 1px;
  border-color: transparent;
  z-index: 100;
}
.header .container .top-intro .introMenu .topMenu .menu a:hover {
  color: #f4604b;
  text-decoration: none;
}
.header .container .top-intro .introMenu .topMenu .menu a .dropdown-bg {
  display: inline-block;
  height: 12px;
  width: 12px;
  background: url(../images/new-common.png);
}
.header .container .top-intro .introMenu .topMenu .menu a .bg-kd {
  background-position: 0px -405px;
  position: relative;
  left: 0;
}
.header .container .top-intro .introMenu .topMenu .menu a .bg-cart {
  background-position: 0 -427px;
  margin-right: 4px;
  position: relative;
  top: 2px;
}
.header .container .top-intro .introMenu .topMenu .menu a .bg-phone {
  display: inline-block;
  width: 9px;
  height: 15px;
  position: relative;
  top: 2px;
  margin-right: 3px;
  background: url(../images/phone.png);
}
.header .container .top-intro .introMenu .topMenu .menu .hoverdown {
  width: 70px;
  position: absolute;
  left: -1px;
  top: 24px;
  padding: 5px 8px;
  border: 1px solid #ccc;
  z-index: 200;
  background-color: #fff;
  line-height: 26px;
}
.header .container .top-intro .introMenu .topMenu .menu .hoverdown .tips {
  width: 62px;
}
.header .container .top-intro .introMenu .topMenu .menu .shop-cart {
  width: 300px;
}
.header .container .top-intro .introMenu .topMenu .menu .my-phone {
  left: -46px !important;
  padding: 0;
  border: 0;
  top: 40px;
  width: 150px;
  height: 188px;
  position: absolute;
  top: 40px;
  display: none;
}
.header .container .kd-details {
  margin-top: 23px;
  padding-left: 170px;
}
.header .container .kd-details img {
  float: right;
  margin-top: -7px;
}
.header .container .kd-details .head-mid {
  float: right;
  margin-right: 55px;
}
.header .container .kd-details .head-mid .search-box {
  width: 350px;
  background: url(../images/search-img.png) no-repeat;
  overflow: hidden;
}
.header .container .kd-details .head-mid .search-box .textinput {
  padding-left: 20px;
  height: 34px;
  border: 0;
  outline: none;
  background: none;
  width: 90%;
  float: left;
  margin: 2px 0 0 3px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.header .container .kd-details .head-mid .search-box .search-btn {
  float: right;
  height: 36px;
  width: 40px;
  cursor: pointer;
  background: url(../images/search-img.png) right 0 no-repeat;
  margin-left: -40px;
  overflow: hidden;
  border: 0;
}
.header .container .kd-details .head-mid .search-box .search-btn:hover {
  background-position: right -39px;
}
.header .container .kd-details .head-mid .search-tab {
  padding-top: 5px;
  width: 350px;
  outline: none;
}
.header .container .kd-details .head-mid .search-tab a {
  padding-left: 20px;
  text-decoration: none;
}

/*瀵艰埅*/
.nav {
  height: 34px;
  width: 100%;
  border-bottom: 1px solid #999;
}
.nav .container {
  height: 34px;
}
.nav .container .nav-menu {
  position: relative;
  float: left;
}
.nav .container .nav-menu .menu-list {
  position: relative;
  margin-left: 150px;
}
.nav .container .nav-menu .menu-list li {
  line-height: 34px;
  float: left;
  color: #eb744f;
  display: inline;
}
.nav .container .nav-menu .menu-list li a.item {
  float: left;
  display: inline;
  color: #000;
  font-size: 14px;
  position: relative;
  padding: 0 18px;
  margin: 0 8px;
  text-decoration: none;
  font-weight: 900;
}
.nav .container .nav-menu .menu-list li a.item:hover {
  color: #f4604b;
}
.nav .container .nav-menu .menu-list li a.item img {
  position: absolute;
  right: 0px;
  top: 0px;
}
.nav .container .nav-menu .menu-list .navHover {
  height: 2px;
  width: 0px;
  background-color: #F4604B;
  font-size: 0;
  position: absolute;
  left: 0;
  top: 33px;
  margin: 0;
  float: none;
  opacity: 0;
}

/*main*/
.main .main-content {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
  margin-top: 25px;
  background-position: center center;
  background-color: #fff;
}
.main .main-content .first-screen {
  width: 1200px;
  height: 460px;
}
.main .main-content .left-nav {
  width: 150px;
  height: 460px;
  margin-right: 20px;
  position: relative;
  float: left;
  z-index: 300;
}
.main .main-content .left-nav .nav-title {
  font-size: 16px;
  font-family: 'Microsoft Yahei';
  font-weight: 900;
  margin-bottom: 5px;
}
.main .main-content .left-nav .nav-links {
  height: 65px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 15px;
  margin-bottom: 14px;
  overflow: hidden;
  line-height: 1.8;
}
.main .main-content .left-nav .nav-links a {
  float: left;
  margin-right: 20px;
  white-space: nowrap;
  width: 4em;
  text-decoration: none;
  color: #666;
}
.main .main-content .left-nav .nav-links a:hover {
  color: #e44715;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .mod-arrow {
  border: 5px solid #e44715;
  border-left: 5px solid #fff;
  float: right;
  margin-top: 12px;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .mod-links {
  background: url(../images/menuHoverImg.png) no-repeat;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .list11 {
  background-position: 0 -3px;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .list12 {
  background-position: 0 -97px;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .list13 {
  background-position: 0 -192px;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .list14 {
  background-position: 0 -226px;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .list15 {
  background-position: 0 -289px;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .list16 {
  background-position: 0 -161px;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .list17 {
  background-position: 0 -386px;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .list18 {
  background-position: 0 -321px;
}
.main .main-content .left-nav .nav-menu-links .cur .mod-left .list19 {
  background-position: 0 -129px;
}
.main .main-content .left-nav .nav-menu-links .nav-mod:hover {
  background-color: #e44715;
}
.main .main-content .left-nav .nav-menu-links .mod-left {
  padding-top: 3px;
  font-size: 14px;
}
.main .main-content .left-nav .nav-menu-links .mod-left a {
  line-height: 31px;
  height: 31px;
  display: block;
  padding-left: 40px;
  color: #666;
  text-decoration: none;
}
.main .main-content .left-nav .nav-menu-links .mod-left a:hover {
  color: #fff;
}
.main .main-content .left-nav .nav-menu-links .mod-left .mod-links {
  background: url(../images/menuImg.png) no-repeat;
}
.main .main-content .left-nav .nav-menu-links .mod-left .list11 {
  background-position: 0 -3px;
}
.main .main-content .left-nav .nav-menu-links .mod-left .list12 {
  background-position: 0 -97px;
}
.main .main-content .left-nav .nav-menu-links .mod-left .list13 {
  background-position: 0 -192px;
}
.main .main-content .left-nav .nav-menu-links .mod-left .list14 {
  background-position: 0 -226px;
}
.main .main-content .left-nav .nav-menu-links .mod-left .list15 {
  background-position: 0 -289px;
}
.main .main-content .left-nav .nav-menu-links .mod-left .list16 {
  background-position: 0 -161px;
}
.main .main-content .left-nav .nav-menu-links .mod-left .list17 {
  background-position: 0 -386px;
}
.main .main-content .left-nav .nav-menu-links .mod-left .list18 {
  background-position: 0 -321px;
}
.main .main-content .left-nav .nav-menu-links .mod-left .list19 {
  background-position: 0 -129px;
}
.main .main-content .left-nav .nav-menu-links .mod-rigth {
  display: none;
  position: absolute;
  height: 418px;
  width: 122px;
  left: 150px;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px 0;
  padding-right: 40px;
  border: 1px solid #ededed;
  z-index: 20;
}
.main .main-content .left-nav .nav-menu-links .mod-rigth .vm-cont {
  width: 120px;
  height: 460px;
  float: left;
  display: inline;
  padding-left: 20px;
}
.main .main-content .left-nav .nav-menu-links .mod-rigth .vm-cont a {
  line-height: 21px;
  display: block;
  padding-left: 10px;
  margin-bottom: 15px;
  color: #666;
  text-decoration: none;
}
.main .main-content .left-nav .nav-menu-links .mod-rigth .vm-cont a:hover {
  color: #fff;
  background-color: #999;
}
.main .main-content .auto-content {
  height: 460px;
  width: 820px;
  float: left;
  position: relative;
  display: inline;
}
.main .main-content .auto-content .banner-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
}
.main .main-content .auto-content .banner-wrapper .img-box {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
}
.main .main-content .auto-content .banner-wrapper .img-box img {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.main .main-content .auto-content .banner-wrapper .img-box img.first {
  display: block;
}
.main .main-content .auto-content .banner-wrapper .circle {
  position: absolute;
  z-index: 100;
  bottom: 8px;
  text-align: center;
  left: 50%;
  margin-left: -58px;
}
.main .main-content .auto-content .banner-wrapper .circle li {
  display: inline-block;
}
.main .main-content .auto-content .banner-wrapper .circle li a {
  width: 12px;
  height: 12px;
  background: rgba(102, 102, 102, 0.8);
  float: left;
  border-radius: 50%;
  margin: 0 6px;
}
.main .main-content .auto-content .banner-wrapper .circle li a:hover {
  background-color: #f4604b;
}
.main .main-content .auto-content .banner-wrapper .circle li .active {
  background-color: #f4604b;
}
.main .main-content .auto-content .banner-wrapper .arrow-box a {
  width: 73px;
  height: 65px;
  text-decoration: none;
  display: block;
  margin: -25px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  display: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  background: url(../images/cut_arrows.png) no-repeat;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.main .main-content .auto-content .banner-wrapper .arrow-box .left-arrow {
  left: 55%;
  margin-left: -400px;
  background-position: 0 0;
}
.main .main-content .auto-content .banner-wrapper .arrow-box .right-arrow {
  left: 85%;
  background-position: 0 -68px;
}
.main .main-content .nav-right {
  width: 190px;
  float: left;
  display: inline;
  margin-left: 20px;
}
.main .main-content .nav-right .mod-above {
  margin-bottom: 16px;
}
.main .main-content .nav-right .mod-below img {
  vertical-align: top;
  border: 0;
}
.main .main-content .qixi {
  clear: both;
  margin: 8px auto;
  margin-top: 40px;
  margin-bottom: 10px;
  position: relative;
}
.main .main-content .qixi .head {
  font-size: 12px;
  font-family: 'Microsoft Yahei';
  color: #999;
  padding-bottom: 15px;
}
.main .main-content .qixi .head .head-title {
  font-family: 'Microsoft Yahei';
  font-weight: bold;
  font-size: 20px;
  color: #333;
  margin-right: 15px;
  position: relative;
  bottom: 2px;
}
.main .main-content .qixi .qixiCon {
  width: 1200px;
  position: relative;
}
.main .main-content .qixi .qixiCon ul {
  width: 1220px;
  position: relative;
}
.main .main-content .qixi .qixiCon ul .reason {
  display: block;
  width: 100%;
  color: #666;
  font-size: 18px;
  line-height: 19px;
  height: 19px;
  padding: 10px 0 5px 0;
}
.main .main-content .qixi .qixiCon ul .reason div {
  float: right;
  font-size: 12px;
}
.main .main-content .qixi .qixiCon ul .text a {
  font-size: 14px;
  font-family: 'Microsoft Yahei';
}
.main .main-content .qixi .qixiCon ul .text a:hover {
  color: #f4604b;
}
.main .main-content .qixi .qixiCon li {
  width: 285px;
  height: 338px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.main .main-content .qixi .qixiCon li a {
  text-decoration: none;
  color: #666;
}
.main .main-content .qixi .qixiCon li a img {
  width: 288px;
  height: 280px;
}
.main .main-content .qixi .bannerbg {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.main .main-content .qixi .bannerbg .b-left {
  float: left;
}
.main .main-content .qixi .bannerbg .b-right {
  float: right;
}
.main .fixedbox {
  margin: 20px 0 0;
  height: 46px;
}
.main .fixedbox .floor-tab {
  z-index: 1000;
  height: 46px;
  background-color: #fff;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}
.main .fixedbox .floor-tab .container {
  width: 1200px;
  margin: 0 auto;
}
.main .fixedbox .floor-tab .container ul li.current {
  background-color: #e44715;
  color: #fff;
}
.main .fixedbox .floor-tab .container ul li {
  width: 128px;
  height: 46px;
  text-align: center;
  float: left;
  margin-right: 2px;
  font: 14px/46px "瀹嬩綋";
  font-weight: bold;
  color: #666;
  cursor: pointer;
}
.main .fixedbox .floor-tab .container ul li:hover {
  background-color: #e44715;
  color: #fff;
}
.main .fixedbox .floor-bd {
  position: fixed;
  top: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.main .floor-main {
  background-color: #f5f5f5;
  padding-top: 20px;
}
.main .floor-main .container {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}
.main .floor-main .container .floor-box {
  position: relative;
}
.main .floor-main .container .floor-box .floor-name {
  color: #121212;
  padding: 15px 0 25px;
  font-family: 'Microsoft Yahei';
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
}
.main .floor-main .container .floor-box .floorCon {
  position: relative;
}
.main .floor-main .container .floor-box .floorCon ul {
  width: 1230px;
  padding-bottom: 4px;
}
.main .floor-main .container .floor-box .floorCon ul .first {
  width: 586px;
  height: 369px;
}
.main .floor-main .container .floor-box .floorCon ul li {
  position: relative;
  float: left;
  margin: 0 26px 26px 0;
  z-index: 10;
  background-color: #fff;
}
.main .floor-main .container .floor-box .floorCon ul li:hover {
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.main .floor-main .container .floor-box .floorCon ul .newlogo {
  position: absolute;
  margin-left: 15px;
}
.main .floor-main .container .floor-box .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.main .floor-main .container .floor-box .imgBox {
  width: 280px;
  height: 280px;
  margin-bottom: 22px;
}
.main .floor-main .container .floor-box .imgBox img {
  width: 280px;
  width: 280px;
  display: inline;
}
.main .floor-main .container .floor-box .price {
  width: 246px;
  margin: 0 auto;
}
.main .floor-main .container .floor-box .price a {
  color: #999;
  margin-top: 6px;
  font-family: "瀹嬩綋";
  float: right;
  text-decoration: none;
}
.main .floor-main .container .floor-box .price a:hover {
  color: #e44715;
}
.main .floor-main .container .floor-box .price .gif-price {
  font-family: "Microsoft YaHei";
  color: #666;
  font-size: 18px;
}
.main .floor-main .container .floor-box .price .gif-price em {
  font-size: 12px;
}
.main .floor-main .container .floor-box .gift-show {
  width: 246px;
  line-height: 22px;
  height: 22px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "瀹嬩綋";
  margin: 2px auto 16px;
}
.main .floor-main .giftClassify {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 26px 0;
  margin-bottom: 20px;
  border: 1px solid #ebebeb;
}
.main .floor-main .giftClassify .gift-hobby {
  width: 300px;
  height: 450px;
  border-right: 1px solid #ccc;
  float: left;
  padding-left: 20px;
}
.main .floor-main .giftClassify .gift-hobby .gift-title {
  font-size: 20px;
  font-family: 'Microsoft Yahei';
  padding: 20px 0 0;
  font-weight: 900;
}
.main .floor-main .giftClassify .gift-hobby .gift-con {
  padding: 12px 0;
}
.main .floor-main .giftClassify .gift-hobby .gift-con .gift-tip {
  font-size: 14px;
}
.main .floor-main .giftClassify .gift-hobby .gift-con .gift-tip a {
  color: #000;
  line-height: 1.8;
  white-space: nowrap;
  text-decoration: none;
}
.main .floor-main .giftClassify .gift-hobby .gift-con .gift-tip a:hover {
  color: #e44715;
}
.main .floor-main .giftClassify a {
  text-decoration: none;
  color: #999;
  line-height: 1.8;
  white-space: nowrap;
  padding-right: 10px;
}
.main .floor-main .giftClassify a:hover {
  color: #e44715;
}
.main .floor-main .giftClassify .gift-class {
  width: 860px;
  float: left;
  padding-left: 10px;
}
.main .floor-main .giftClassify .gift-class .gift-title {
  font-size: 20px;
  font-family: 'Microsoft Yahei';
  padding: 20px 0 0;
  font-weight: 900;
}
.main .floor-main .giftClassify .gift-class .gift-class-box {
  width: 860px;
  float: left;
  display: inline;
  margin-left: 15px;
  line-height: 1.8;
}
.main .floor-main .giftClassify .gift-class .gift-class-box .gift-con {
  padding: 12px 0;
  float: left;
  width: 270px;
  height: 85px;
}
.main .floor-main .giftClassify .gift-class .gift-class-box .gift-con .gift-tip {
  font-size: 14px;
}
.main .floor-main .giftClassify .gift-class .gift-class-box .gift-con .gift-tip a {
  color: #000;
  line-height: 1.8;
  white-space: nowrap;
  text-decoration: none;
}
.main .floor-main .giftClassify .gift-class .gift-class-box .gift-con .gift-tip a:hover {
  color: #e44715;
}
.main .floor-main .clearfix::after {
  content: '.';
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}

#footer {
  width: 100%;
  margin-top: 10px;
}
#footer .container {
  width: 1200px;
  margin: 0 auto;
}
#footer .container .kd-service {
  padding: 20px;
  color: #999;
  font-family: 'Microsoft Yahei';
}
#footer .container .kd-service li {
  display: inline;
  float: left;
  width: 12%;
  text-align: center;
}
#footer .container .kd-service li .service-pic {
  height: 48px;
  width: 48px;
  margin: 0 auto;
  background: url(../images/service-001.png) no-repeat;
}
#footer .container .kd-service li .s2 {
  background-position: 0 -49px;
}
#footer .container .kd-service li .s3 {
  background-position: 0 -98px;
}
#footer .container .kd-service li .s4 {
  background-position: 0 -147px;
}
#footer .container .kd-service li .s5 {
  background-position: 0 -196px;
}
#footer .container .kd-service li .s6 {
  background-position: 0 -245px;
}
#footer .container .kd-service li .s7 {
  background-position: 0 -294px;
}
#footer .container .kd-service li .kd-cap {
  font-size: 14px;
  color: #000;
  line-height: 2em;
}
#footer .container .kd-service li a {
  color: #999;
  text-decoration: none;
}
#footer .container .kd-service .clearfix::after {
  content: '.';
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
#footer .container .links {
  margin: 15px 0;
  color: #606060;
  font-family: 'Microsoft Yahei';
  text-align: center;
  word-spacing: 5px;
}
#footer .container .links a {
  display: inline-block;
  line-height: 2em;
  margin: 0 10px;
  color: #606060;
}
#footer .container .links .mod-copyright {
  margin-top: 10px;
  text-align: center;
  color: #acacac;
}

.fast-nav {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 40px;
  z-index: 1008;
}
.fast-nav .fast-li {
  position: relative;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: #eee;
}
.fast-nav .fast-li .on-askme {
  height: auto;
  margin-bottom: 2px;
}
.fast-nav .fast-li .fast-a {
  display: block;
  line-height: 16px;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}
.fast-nav .fast-li .fast-a .askme {
  height: 32px;
  width: 32px;
  background: url(../images/wenwo.png) no-repeat 0 0;
  margin: 0 auto;
  display: block;
}
.fast-nav .fast-li .fast-a span {
  color: #666;
  display: block;
  margin-top: 3px;
  padding-bottom: 4px;
  text-align: center;
}
.fast-nav .fast-li .fast-a span:hover {
  color: #e44715;
}
.fast-nav .fast-li .weChat {
  display: block;
  width: 32px;
  height: 32px;
  margin: 3px auto 0;
  background: url(../images/wechat.png) no-repeat 0 0;
}
.fast-nav .fast-li .code-2d {
  display: none;
  position: absolute;
  right: 60px;
  top: -90px;
  width: 146px;
  height: 180px;
  background: url(../images/2dcode.jpg) no-repeat -1px -7px;
  border: 1px solid #ccc;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.fast-nav .fast-top {
  position: relative;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: #eee;
  display: none;
}
.fast-nav .fast-top .icon-zhiding {
  font-size: 26px;
  text-align: center;
  padding-left: 5px;
  color: #999;
  text-decoration: none;
}
.fast-nav .fast-top .icon-zhiding .backTop {
  position: absolute;
  width: 40px;
  left: 0;
  top: -4px;
  font-size: 12px;
  color: #fff;
  display: block;
  margin-top: 3px;
  padding-bottom: 4px;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  cursor: pointer;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 1263px;
  height: 7937px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: none;
}
.cover .login-box {
  width: 900px;
  height: 600px;
  background-color: #fff;
  position: absolute;
  right: -900px;
  top: 40px;
  z-index: 1011;
}
.cover .login-box .close-btn {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #c33;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
}
.cover .login-box .close-btn a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}
.cover .login-box .quick-login {
  width: 600px;
  padding: 50px;
  margin: 0 auto;
  overflow: hidden;
  height: 400px;
  font-family: 'Microsoft Yahei';
}
.cover .login-box .quick-login .login-left {
  float: left;
  display: inline;
  overflow: hidden;
  width: 195px;
  line-height: 1.5;
  padding-top: 30px;
}
.cover .login-box .quick-login .login-left .t-box {
  margin-bottom: 20px;
}
.cover .login-box .quick-login .login-left .t-box .title {
  font-size: 18px;
  color: #333;
}
.cover .login-box .quick-login .login-left .t-box .cont {
  font-size: 14px;
  color: #999;
}
.cover .login-box .quick-login .login-left dd {
  float: left;
  display: inline;
  margin-right: 17px;
}
.cover .login-box .quick-login .login-left dd a {
  background: url(../images/login.png) no-repeat;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 44px;
  height: 25px;
  display: block;
  padding-top: 44px;
  color: #333;
  text-align: center;
  line-height: 25px;
}
.cover .login-box .quick-login .login-left dd a:hover {
  color: #e44715;
}
.cover .login-box .quick-login .login-left dd .qq {
  background-position: 0 -68px;
}
.cover .login-box .quick-login .login-left dd .alipay {
  background-position: 0 -137px;
}
.cover .login-box .quick-login .login-right {
  width: 320px;
  float: left;
  padding-left: 25px;
  height: 278px;
  border-left: 1px solid #cecece;
  padding-top: 30px;
}
.cover .login-box .quick-login .login-right .login-input {
  width: 295px;
}
.cover .login-box .quick-login .login-right .login-input .userlogin {
  font-size: 18px;
  line-height: 20px;
  height: 20px;
  margin: 8px 0 30px 0;
  text-shadow: 1px 1px 0 #FFF;
}
.cover .login-box .quick-login .login-right .login-input input {
  margin-bottom: 20px;
  border: 0;
  border: 1px solid #D8D8D8;
  border-radius: 2px;
  padding: 1px 1px 1px 32px !important;
  background: url(../images/login.png) no-repeat;
  line-height: 32px;
}
.cover .login-box .quick-login .login-right .login-input .text {
  background-position: 7px -203px;
}
.cover .login-box .quick-login .login-right .login-input .psd {
  background-position: 7px -238px;
}
.cover .login-box .quick-login .login-right .enter-up {
  height: 16px;
  line-height: 16px;
  margin: 10px 0;
}
.cover .login-box .quick-login .login-right .enter-up .autologin {
  cursor: pointer;
  padding-left: 20px;
  background: url(../images/login.png) no-repeat 0 -354px;
  color: #999;
}
.cover .login-box .quick-login .login-right .enter-up .f1 {
  float: left;
}
.cover .login-box .quick-login .login-right .enter-up .kd-xieyi {
  color: #666;
}
.cover .login-box .quick-login .login-right .enter-up .kd-xieyi:hover {
  color: #E34B35;
}
.cover .login-box .quick-login .login-right .enter-up .doauto {
  padding-left: 20px;
  background-position: 0 -390px;
}
.cover .login-box .quick-login .login-right .enter {
  width: 100%;
  margin: 5px auto 10px;
  overflow: hidden;
}
.cover .login-box .quick-login .login-right .enter .submit-btn {
  width: 320px;
  font-size: 18px;
  color: #fff;
  height: 45px;
  background-color: #E34B35;
  border: 1px solid #E34B35;
  font-family: 'Microsoft Yahei';
  font-weight: bold;
  padding: 0 20px;
  cursor: pointer;
}
.cover .login-box .quick-login .login-right .forgot-psd {
  font-size: 14px;
}
.cover .login-box .quick-login .login-right .forgot-psd .forgot-it {
  float: right;
}
.cover .login-box .quick-login .login-right .forgot-psd a {
  color: #666;
}
.cover .login-box .quick-login .login-right .forgot-psd a:hover {
  color: #E34B35;
}

/*# sourceMappingURL=index.css.map */
